@*Visual part:*@

@page
@model IndexModel
@{
    ViewData["Title"] = "Movie list";
}

<div class="text-center">
    <h1 class="display-4">Find a movie</h1>
</div>

<form method="post"> @*we use method post, sent to server, but not seen in address bar*@
    <div class="mb-3 row"> @*size, depending on screen, will adjust text to next lines*@
        <div class="col-sm-10">
        <input type="text" class="form-control" name="findQuery" id="findQuery" placeholder="Title">
        </div>
        <div class="col-sm-2"
        <button type="submit" class="btn btn-primary">Find</button>
    </div>
    </div>
</form>

@foreach (var movie in Model.Movies) //we go with a loop, using razor syntax
{
    <p><h2>@movie.Title</h2><br>
        <h4>@movie.Genre</h4>
        @foreach (var keyword in movie.Keywords)
        {
            <h6>@keyword</h6>
        }
        </p>
    //we print some data
}
